body{
    background-color:burlywood;
    text-align: center;
}
.container{
    height: 70vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
   
    

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 3rem;
    font-size: 8vmin;
    background-color: brown;
    color: aliceblue;
}
#reset{
    font-size: 1.25vmax;
    background-color:coral;
    color: white;
    border-radius: 1rem;
}
.msgwinner{
    height: 10vmin;
}
#msg{
    font-size: 4vmin;
}
.hide{
    display: none;
}
